@mixin flex_column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  height: fit-content;
  min-width: 400px;
  @include flex_column(1.5rem);
  h1{
    text-align: center;
  }
  form {
    @include flex_column(1rem);
    input,button{
        border: none;
        outline: none;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 1rem;
    }
    button{
        background-color: #be7575;
        color: whitesmoke;
        cursor: pointer;
    }
  }
  .toggleAuthForm{
    margin-left: 0.5rem;
    color: rgb(222, 47, 47);
    text-decoration: none;
  }
}
