.post-image-label{
    background-color: #543434;
    color: whitesmoke;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
